@import "../../assets/scss/shared/colors";

.module-title {
    background: #F4F6F7;
    padding: 20px 0;
}

.red-color{
    color: red;
}
.green-color{
    color: green;
}
.green-color{
    color: #ffbf00;
}