@import "../../assets/scss/shared/colors";
@import "../../assets/scss/shared/globalstyles";

.login-page{
    height: 100vh;
    background: #FBFCFC;
    position: relative;
    .card{
        margin-top: 0;
    }
    form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.login-heading{
    text-align: center;
    h3{
        font-size: 32px;
        font-weight: 600;
        color: #34495e;
    }
}

.logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    h4{
        font-weight: 600;
        font-size: 22px;
        margin-right: 8px;
        color: #2E4053;
    }
    img {
        width: 30px;
    }
}