.sidebar-container{
    border-radius: 5px;
    .sidebar-heading{
        background: #34495E;
        color: #ffffff;
        padding: 6px 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .sidebar-content {
        border: 1px solid #7FB3D5;
        border-top: none;
        padding: 7px 10px;
    }
    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        li{
            padding-bottom: 7px;
            &:not(:last-of-type){
                margin-bottom: 5px;
                border-bottom: 1px solid #D6EAF8;
            }
            a{
                font-size: 13px;
                color: #5D6D7E;
                display: block;
                &.active{
                    font-weight: bold;
                    border-left: 5px solid #5D6D7E;
                    padding-left: 5px;
                    font-size: 14px;
                }
            }
            ul{
                margin-left: 20px;
                margin-top: 5px;
                li{
                    border-bottom: none!important;
                    a{
                        font-size: 12px;
                    }
                }
            }
        }
    }
}