@import "../../assets/scss/shared/colors";

.module-title {
    background: #F4F6F7;
    padding: 20px 0;
}
.scheduletable.table thead th{
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
}