@import "../../assets/scss/shared/colors";
@import "../../assets/scss/shared/globalstyles";

.module-title {
    background: #F4F6F7;
    padding: 20px 0;
}
.check-label{
    cursor: pointer;
}
.errortxt{
    color: #E74C3C !important;
    font-weight: 600 !important;
}
.ml-20{
 margin-left: 20px !important;
}
.wrap-selection {
    display: flex;
    width: 100%;
    align-items: flex-end;
    .option-select {
        flex-basis: 80%;
        padding-right: 14px;
    }
    .add-option-cta {
        flex-basis: 20%;
        .btn{
            width: 100%;
        }
    }
}
.options-list {
    margin-top: 20px;
    .title-txt {
        font-size: 14px;
    }
}
.flexed{
    display: flex;
    align-items: center;
    .maininfo {
        flex-basis: 80%;
        padding-right: 20px;
    }
}
.each-option-wrap {
    border: 1px dashed #5D6D7E;
    padding: 3px;
    min-height: 47px;
    .each-option-added {
        font-size: 13px;
        width: 62%;
        margin: 0 auto;
        padding: 10px;
        background: #F2F3F4;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-of-type){
            margin-bottom: 10px;
        }
        .remove-option-cta {
            background: #EC7063;
            height: 5px;
            width: 20px;
            cursor: pointer;
        }
        .each-option-txt {
            font-size: 13px;
            font-weight: 600;
            color: #5D6D7E;
        }
    }
}
.admin-logowrap.card{
    margin-top: 20px!important;
    flex-direction: unset;
    justify-content: space-between;
    .logo-heading {
        font-size: 16px;
        text-align: center;
        font-weight: 500;
    }
    .existing-logo img {
        width: 100px;
        margin: 0 auto;
    }
    .existing-icon img {
        width: 40px;
        margin: 0 auto;
    }
    .org-logo,.org-icon{
        text-align: center;
    }
    .grayed-out.btn.btn-secondary {
        font-size: 11px;
        padding: 3px 5px;
        margin-top: 8px;
    }
}
.each-settingitem{
    input{
        font-size: 12px;
    }
    label{
        font-size: 12px;
        margin-left: 8px;
        margin-bottom: 0;
    }
}
.each-formsection.branchselection{
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
    select{
        flex-basis: 70%;
    }
}
.addedbranches {
    border: 1px dashed #AED6F1;
    padding: 10px;
    .eachbranch{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #F2F4F4;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    .branchname {
        font-size: 13px;
    }
    .removebranch {
        width: 20px;
        height: 9px;
        padding: 1px 3px;
        border: 5px solid #E74C3C;
        background: #fff;
    }
}

.base-currency {
    background: #7FB3D5;
    color: #fff;
    padding: 2px 7px;
    border-radius: 3px;
}
.upload-wrap {
    display: flex;
    justify-content: center;
   
}
.upload-card {
    width: 30%;
    margin: 20px;
    text-align: center;
    h4 {
        font-size: 24px;
    }
    .desc-msg {
        font-size: 15px;
    }
    input[type=file]{
        display: none;
        opacity: 0;
        height: 0;
    }
    .filename{
        margin-top: 10px;
        font-size: 13px;
        color: #155724;
        font-weight: 600;
    }
}