@import "../../assets/scss/shared/colors";
@import "../../assets/scss/shared/globalstyles";
.module-title {
    background: #F4F6F7;
    padding: 20px 0;
}
.back-cta {
    margin-bottom: 15px;
    text-align: left;
    font-weight: 800;
    &.centered{
        text-align: center;
    }
    span.back-link {
        font-size: 13px;
        border-bottom: 1px solid;
        color: #5499C7;
    }
    &:hover{
        cursor: pointer;
        font-weight: 800;
    }
}
// .scroll-x{
//     overflow-x: auto !important;
// }
.approvalctas{
    button{
        margin: 0 35px;
    }
}
.dissburseInfo{
    background: #F4F6F7;
    padding: 8px;
    height: 100%;
}
span.txt-cta {
    color: #34495E;
    text-decoration: underline;
    font-size: 13px;
    cursor: pointer;
    // &:hover{
    //     font-weight: 600;
    //     padding: 0;
    //     margin: 0;
    // }
}

.card.details-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    margin: 0;
    border-radius: 0;
    .form-heading{
        display: flex;
        justify-content: space-between;
        
    }
    .close-icon {
        width: 31px;
        opacity: 0.6;
        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }

    }
}