.tablecomponent-container{
    thead th{
        font-size: 14px;
    }
    td{
        font-size: 12px;
    }
}
.tablecomponent-container > .container > .row{
    overflow-x: auto !important;
}
.red-color{
    color: red;
}
span.action-link {
    font-size: 14px;
    border-bottom: 1px solid #EB984E;
    color: #EB984E;
    cursor: pointer;
}
.green-color{
    color: green;
}
.amber-color{
    color: #ffbf00;
}

span.each-pagenum {
    //border: 1px solid #78B943;
    //color: #78B943;
    background-color: white;
    padding: 5px 10px;
    font-size: 11px;
    margin: 0 3px;
    border: 1px solid #DFE3E8;
    &.active{
        border: 1px solid #78B943;
        color: #78B943;
    }
    &:hover{
        cursor: pointer;
        background: #A9CCE3;
    }
}

.middot {
    background-color: white;
    padding: 3px 8px;
    margin: 1px 3px 0;
    border: 1px solid #DFE3E8;
}
