.tablecomponent-container{
    thead th{
        font-size: 14px;
    }
    td{
        font-size: 12px;
    }
}
.tablecomponent-container > .container > .row{
    overflow-x: auto !important;
}
.red-color{
    color: red;
}
span.action-link {
    font-size: 14px;
    border-bottom: 1px solid #EB984E;
    color: #EB984E;
    cursor: pointer;
}
.green-color{
    color: green;
}
.amber-color{
    color: #ffbf00;
}
span.each-pagenum {
    background: #D6EAF8;
    padding: 2px 5px;
    font-size: 11px;
    margin: 0 3px;
    &.active{
        background: #5499C7;
        color: #ffffff;
    }
    &:hover{
        cursor: pointer;
        background: #A9CCE3;
    }
}