.tablecomponent-container{
    thead th{
        font-size: 14px;
    }
    td{
        font-size: 12px;
    }
}
span.each-pagenum {
    background: #D6EAF8;
    padding: 2px 5px;
    font-size: 11px;
    margin: 0 3px;
    &:hover{
        cursor: pointer;
        background: #A9CCE3;
    }
}