@import "../../assets/scss/shared/colors";
@import "../../assets/scss/shared/globalstyles";

.module-title {
    background: #F4F6F7;
    padding: 20px 0;
}
.footer-with-cta .btn-secondary.btn.addnew-btn{
    padding: 5px;
    line-height: unset;
    font-size: 10px;
    height: 27px;
    margin-top: auto;
    opacity: 0.5;
    font-weight: 600;
}

.btn-secondary.btn.remove-btn, .btn-secondary.btn.remove-btn:active,
.btn-secondary.btn.remove-btn:not(:disabled):not(.disabled):active{
    padding: 0 7px;
    line-height: unset;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 800;
    background: #E74C3C;
    border-width: 0;
    border-radius: 3px;
}

.table-bordered tr.totalrow td {
    border: none;
    &:nth-of-type(2){
        font-weight: 600;
        text-transform: uppercase;
        font-size: 14px;    
    }
    &:nth-of-type(3){
        font-weight: 600;
        font-size: 14px;    
    }
}

.table-bordered tr.netrow {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.table-striped tbody tr.sheetheading, .table-hover tbody tr.sheetheading:hover,
.table-striped tbody tr.sheetheading:nth-of-type(odd){
    background: #D4E6F1;
}