.menu-container{
    border: 1px solid #D6EAF8;
    border-top: none;
    background: #ECF0F1;
    .mainmenu-wrap {
        // margin-top: 5px;
        margin-left: 1rem;
        .nav-item{
            position: relative;
            &:not(:last-of-type){
                border-right: 1px solid #AEB6BF;
            }
            ul{
                position: absolute;
                z-index: 1001;
                width: 240px;
                padding: 10px 0;
                background: #fff;
                display: none;
                box-shadow: 0 10px 20px rgba(0,0,0,.09);
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            &:hover>ul{
                display: block;
            }
        }
       
    }
    .nav-link, .nav-item{
        a, span{
            display: block;
            padding: 10px 8px;
            font-size: 12px;
            color: #5D6D7E;
            font-weight: 600;
            &.active{
                background: #7FB3D5;
                text-decoration: none;
                color: #fff;
                &:hover{
                    background: #7FB3D5;
                    text-decoration: none;
                    color: #fff;
                }
            }
            &:hover{
                background: #D4E6F1;
                text-decoration: none;
                cursor: pointer;
            }
            @media only screen and (max-width: 1024px) {
                padding: 10px 6px;
                font-size: 11px;
            }
        }
        // &:first-of-type{
        //     a{
        //         padding-left: 0;
        //     }
        // }
    }
    .nav-item>ul{
        list-style: none;
        li{
            a{
                padding: 5px 6px;
                color: #85929E;
                font-weight: normal;
                &:hover{
                    background: none;
                    color: #5D6D7E;
                    font-weight: 600;
                }
            }
        }
    }

}
.lowerlevel-menu {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding: 10px 10px 10px;
    .nav > li > a.active {
        border-color: #5D6D7E;
        background: rgba(93, 109, 126, 0.5);
        color: #ffffff;
        font-weight: 600;
    }
}